.navbar
{
    background-color: #264653;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size:xx-large;
    justify-content: flex-end;
    align-items: center;
    min-height: min-content;

}
.logo
{
    
    flex: 1 1 auto;
    align-self:auto;
    margin-left: 5%;
    /* font-weight: 300; */
}

.link
{
    
    font-size: large;
    margin-right: 2%;
}


